<div class="dashboard-container">
  <app-time-header></app-time-header>
  <div class="goals">
    <!-- Large screen view -->
    @if (!isSmallScreen()) {
      <ng-container>
        <article class="card-parent weekly-card-parent">
          <app-weekly-goals (goalClicked)="handleGoalClicked($event)"></app-weekly-goals>
        </article>
        <article class="card-parent quarterly-card-parent">
          <app-quarterly-goals (goalClicked)="handleGoalClicked($event)"></app-quarterly-goals>
        </article>
        <article class="card-parent long-term-card-parent">
          <app-long-term-goals (goalClicked)="handleGoalClicked(null)"></app-long-term-goals>
        </article>
      </ng-container>
    } @else {
      <ng-container class="phone-template">
        <mat-tab-group>
          <mat-tab label="Weekly">
            <ng-template matTabContent>
              <app-weekly-goals (goalClicked)="handleGoalClicked($event)"></app-weekly-goals>
            </ng-template>
          </mat-tab>
          <mat-tab label="Quarterly">
            <ng-template matTabContent>
              <app-quarterly-goals (goalClicked)="handleGoalClicked($event)"></app-quarterly-goals>
            </ng-template>
          </mat-tab>
          <mat-tab label="Long Term">
            <app-long-term-goals (goalClicked)="handleGoalClicked(null)"></app-long-term-goals>
          </mat-tab>
        </mat-tab-group>
      </ng-container>
    }
    @if (showNotesPage()) {
      <div class="notes-page-container">
        <div class="notes-page">
          <app-notes-page (notesPageClose)="handleNotesClose()" [passedQuarterlyGoal]="quarterlyGoalClicked()"></app-notes-page>
        </div>
      </div>
    }
  </div>
</div>